h1 {
  color: #293447;
  font-size: 3em;
}
.txt h2, .txt h3, .txt h4 {
  padding-top: 2em;
  color: #293447;
}
.txt p {
  color: #293447;
}

.footer h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: -0.1em;
  margin-left: 1.2em;
}
.footer p {
  color: #fff;
  margin-left: 1.5em;
}

.footer ul {
  margin-left: -1em;
}

.footer ul li {
  display: inline-block;
}

.footer ul li a {
  color: #fff;
}

.footer ul li a:hover {
  color: #293447;
}

i {
  border: 2px solid #fff;
  padding: 0.4em;
  border-radius: 40%;
  margin-right: 0.3em;
  transition: all 2s;
}

i:hover {
    background-color: white;
}

label {
  color: #0f356c; 
  font-weight: normal;
  margin-top: 1em;
}

/*fieldset {
  margin-left: 20%;
  margin-right: 20%;
}*/

input {
  width: 20em;
}


/*
.form {
  text-align: center;
}*/

/*.contact {
  margin: 1em 10em 1em 10em;
}*/

.navbar-default {
  background-color: rgba(212, 220, 231, 0.38)!important;
  border-color: rgba(212, 220, 231, 0.38)!important;
}
.navbar-default li>a {
  color: #435474 !important;
  font-size: 1.5em !important;
  font-family: Tahoma;
}

.navbar-brand {
  color: #435474 !important;
  font-size: 2em !important;
  font-family: "Baloo Da", Tahoma;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($gray-base, .5);
    z-index: 1;
  }
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-content {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
  text-align: center;
  @include translate(-50%, -50%); 
  h1 {
    font-size:48px;
    color: white;
    padding:0 10px;
    small {
      font:300 18px  $font-regular ;
      color: white;  
      display: block;
      margin: 10px 0;
    }        
  }
  
}
.head {
  position: relative;
  top: 30em;
}

.section {
  position: relative;
  top: 60em;
  height: 50em;
  margin-bottom: 10em;
  background-color: white;
}

.section1 {
  position: relative;
  top: 60em;
  height: 60em;
  background-color: white;
}

.footer {
  position: relative;
  margin-top: 60em; /* negative value of footer height */
  height: 11em;
  background-color: #7187ad;
  clear:both;
  padding-top:20px;
}

.footer img {
  width: 2.3em;
}

.projects-group {
}

#projects img {
  display: inline-block;
  width: 20em;
  margin: 0.2em;
}


@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
  .sec {
    margin-top: -25em;
    margin-bottom: -31em;
  }
  
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../images/iceberg.png') center center / cover no-repeat;
    @include background-size(cover);
  }
  
  .fullscreen-bg__video {
    display: none;
  }
  .sec {
    margin-top: -25em;
    margin-bottom: -31em;
  }
}
